* {
  padding: 0;
  margin: 0;
  font-family: 'Oswald', sans-serif; }

.header {
  background-image: linear-gradient(to bottom, #000411, #091418, #151d1d, #212523, #2d2e2c);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative; }
  .header .logo-y-titulo {
    color: #E7ECEF;
    display: flex;
    align-items: center; }
    .header .logo-y-titulo img {
      margin: 10px;
      height: 100px;
      background-color: orange;
      border-radius: 20px; }
    .header .logo-y-titulo h1 a {
      text-decoration: none;
      color: #E7ECEF; }
  .header .nav .barra-nav ul {
    display: flex;
    list-style: none;
    font-size: 20px;
    position: relative;
    top: 7px; }
    .header .nav .barra-nav ul li:hover {
      background-color: #e9f1f713;
      border-radius: 15px; }
    .header .nav .barra-nav ul li a {
      text-decoration: none;
      color: #E7ECEF;
      margin: 0 30px; }

.mainindex .carousel-inner .carousel-item img {
  height: 800px; }

.mainindex .carousel-inner .carousel-item .texto-encima {
  position: absolute;
  top: 400px;
  left: 10px;
  padding: 20px;
  font-size: 30px;
  color: #E7ECEF;
  background-color: rgba(0, 0, 0, 0.329);
  border-radius: 20px; }

.mainindex .imgconparrafo {
  background-image: url(../img/hamburgerfondo.jpg);
  background-position: center;
  background-size: 1300px;
  display: grid;
  justify-items: center;
  color: #E7ECEF; }
  .mainindex .imgconparrafo h2 {
    position: relative;
    top: 50px; }

.mainmenu .hamburguesas {
  background-image: url(../img/burger-yellow.jpg);
  background-repeat: repeat;
  background-position: center center;
  background-attachment: fixed;
  display: grid;
  justify-content: center;
  padding: 25px; }
  .mainmenu .hamburguesas img {
    width: 300px;
    margin: 20px;
    position: relative;
    left: 120px;
    transition: all 1s;
    animation: cambioancho 1s; }
  .mainmenu .hamburguesas img:hover {
    background-color: #121619c9;
    border-radius: 100px;
    transition: .3s;
    transform: scale(1.1); }
  .mainmenu .hamburguesas .precios-burgers {
    display: grid;
    justify-items: center;
    text-align: center;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.384);
    border-radius: 20px; }
    .mainmenu .hamburguesas .precios-burgers table tr {
      color: #E7ECEF; }

.maindelivery {
  display: grid;
  justify-content: center;
  justify-items: center;
  background-image: url(../img/deliveryrappi.jpg);
  background-repeat: repeat;
  background-position: center;
  height: 1000px; }
  .maindelivery h2 {
    font-size: 40px;
    color: #E7ECEF;
    position: relative;
    top: 80px; }
  .maindelivery .rappipedidoya div a img {
    margin: 50px;
    border-radius: 250px;
    height: 200px;
    width: 300px;
    transition: 1s; }
  .maindelivery .rappipedidoya div a img:hover {
    transition: 1s;
    transform: scale(1.1); }
  .maindelivery .rappipedidoya .tituloygooglemaps h2 {
    text-align: center;
    margin: 30px;
    position: relative;
    left: 10px; }
  .maindelivery .rappipedidoya .googlemaps {
    position: relative;
    left: 210px;
    top: 80px; }

.maincontactanos {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../img/fondo.contactanos.jpg);
  background-position: left;
  font-size: 10px; }
  .maincontactanos h2 {
    margin-top: 50px;
    color: #EDFFD9; }
  .maincontactanos form {
    margin: 100px;
    text-align: center; }
    .maincontactanos form p input {
      font-size: 20px;
      width: 350px;
      text-align: center;
      border-radius: 20px;
      background-color: #131B23;
      color: #E7ECEF;
      transition: all 1s; }
    .maincontactanos form p input:hover {
      transition: 0.5;
      transform: scale(1.2); }
    .maincontactanos form textarea {
      font-size: 20px;
      border-radius: 5px;
      background-color: #e7ecef17;
      color: #E7ECEF;
      margin: 10px; }
    .maincontactanos form button {
      width: 150px;
      height: 35px;
      font-size: 20px;
      border-radius: 10px;
      background-color: #F4D35E;
      transition: all 1s; }
    .maincontactanos form button:hover {
      transition: 0.5s;
      transform: scale(1.2); }

.mainnoticias .titulo-y-video {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../img/fondo.contactanos.jpg);
  background-position: left; }
  .mainnoticias .titulo-y-video h1 {
    color: #E7ECEF;
    margin: 30px; }
  .mainnoticias .titulo-y-video video {
    margin: 60px; }

.footer {
  background-image: linear-gradient(to bottom, #000411, #030f14, #0e1615, #181a18, #1f1f1e);
  display: flex;
  justify-content: center; }
  .footer .texto-chico {
    display: flex;
    align-items: center;
    position: relative;
    right: 100px;
    color: #E7ECEF; }
  .footer .redes a img {
    width: 40px;
    margin: 10px;
    margin-left: 80px;
    transition: 1s; }
  .footer .redes a img:hover {
    transition: 1s;
    transform: scale(1.2); }

@keyframes cambioancho {
  0% {
    width: 350px; }
  50% {
    width: 325px; }
  100% {
    width: 300px; } }

@media (max-width: 1024px) {
  .maincontactanos form {
    margin: 200px; } }

@media (max-width: 425px) {
  .rappipedidoya div a img {
    margin: 20px;
    border-radius: 150px;
    height: 100px;
    width: 150px; }
  .googlemaps {
    left: 0; }
  .titulo-y-video video {
    width: 400px; } }

@media (max-width: 375px) {
  .maincontactanos form textarea {
    font-size: 18px;
    text-align: center; } }

@media (max-width: 320px) {
  .maincontactanos form p input {
    width: 280px; }
  .maincontactanos form textarea {
    font-size: 14px; } }

@media (max-width: 768px) {
  .rappipedidoya div a img {
    width: 200px !important; }
  .googlemaps {
    left: 110px !important; } }

@media (max-width: 425px) {
  .rappipedidoya div a img {
    align-items: center; }
  .googlemaps {
    display: none !important; }
  .tituloygooglemaps h2 {
    display: none; } }

@media (max-width: 320px) {
  .rappipedidoya div a img {
    width: 150px !important;
    height: 150px !important;
    position: relative;
    left: 35px; }
  .googlemaps {
    display: none !important; } }

@media (max-width: 768px) {
  .footer {
    display: grid;
    justify-items: center; }
  .redes img {
    position: relative;
    right: 30px; } }

@media (max-width: 425px) {
  .footer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center; }
  .redes img {
    margin: 10px; }
  .texto-chico {
    right: 0px;
    left: 10px; } }

@media (max-width: 375px) {
  .redes img {
    width: 30px !important; } }

@media (max-width: 320px) {
  .redes img {
    left: 2px;
    margin-left: 10px !important; } }

@media (max-width: 768px) {
  .header {
    display: grid;
    justify-items: center; }
  .barra-nav ul {
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.349);
    border-radius: 10px; }
  .barra-nav ul li {
    margin: 2px;
    text-align: center; } }

@media (max-width: 425px) {
  .barra-nav ul {
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.349);
    border-radius: 10px; }
  .barra-nav ul li {
    margin: 2px;
    text-align: center; } }

@media (max-width: 425px) {
  .imgconparrafo {
    justify-content: center; }
  .imgconparrafo {
    max-height: 100%; } }

@media (max-width: 425px) {
  .hamburguesas img {
    left: 10px !important; } }

@media (max-width: 320px) {
  .precios-burgers {
    margin-right: 10px; } }

@media (max-width: 1024px) {
  .titulo-y-video video {
    margin: 250px;
    position: relative;
    bottom: 50px; } }

@media (max-width: 768px) {
  .titulo-y-video video {
    margin: 110px !important;
    width: 600px; } }

@media (max-width: 425px) {
  .titulo-y-video video {
    margin: 130px !important;
    width: 400px !important; } }

@media (max-width: 375px) {
  .titulo-y-video video {
    width: 360px !important;
    margin: 200px !important; } }

@media (max-width: 320px) {
  .titulo-y-video video {
    width: 290px !important;
    margin: 200px !important; } }

.mainindex .imgconparrafo p {
  border-radius: 20px;
  margin: 150px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.363); }
