* {
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}



@import './secciones/header';
@import './secciones/index';
@import './secciones/menu';
@import './secciones/delivery';
@import './secciones/contactanos';
@import './secciones/noticias';
@import './secciones/footer';

@import './keyframes/animaciones';

@import './mediaquery/contactanos';
@import './mediaquery/delivery';
@import './mediaquery/footer';
@import './mediaquery/header';
@import './mediaquery/index';
@import './mediaquery/menu';
@import './mediaquery/noticias';

@import './variables/mixins';
@import './variables/extend';
@import './variables/tipografia';