@media (max-width:768px) {
    .rappipedidoya div a img {
        width: 200px !important;
    }

    .googlemaps {
        left: 110px !important;
    }
}
@media (max-width:425px){
    .rappipedidoya div a img{
        align-items: center;
    }
    .googlemaps {
        display: none !important;
    }
    .tituloygooglemaps h2{
        display: none;
    }
}

@media (max-width:320px) {
    .rappipedidoya div a img {
        width: 150px !important;
        height: 150px !important;
        position: relative;
        left: 35px;
    }

    .googlemaps {
        display: none !important;
    }
}