@media (max-width:768px) {
    .footer {
        display: grid;
        justify-items: center;
    }
    .redes img{
        position: relative;
        right: 30px;
    }
}

@media (max-width:425px) {

    .footer {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .redes img {
        margin: 10px;
    }

    .texto-chico {
        right: 0px;
        left: 10px;
    }
}

@media (max-width:375px){

    .redes img {
        width: 30px !important;
    }
}

@media (max-width:320px){

    .redes img{
        left: 2px;
        margin-left: 10px !important;
    }
}