@media (max-width:768px) {
    .header {
        display: grid;
        justify-items: center;
    }
    .barra-nav ul {
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.349);
        border-radius: 10px;
    }
    .barra-nav ul li {
        margin: 2px;
        text-align: center;
    }
}

@media (max-width:425px) {

    .barra-nav ul {
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.349);
        border-radius: 10px;
    }

    .barra-nav ul li {
        margin: 2px;
        text-align: center;
    }
}