.mainnoticias {
    .titulo-y-video {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url(../img/fondo.contactanos.jpg);
        background-position: left;

        h1 {
            color: #E7ECEF;
            margin: 30px;
        }

        video {
            margin: 60px;
        }
    }
}